body{
.oswald-<uniquifier>
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style:normal;}
h1{
    font-size: 50px;
}
.new{
  color:orange;
}
.half-width{
  width: 45%;
  float: left;}
  .half-width img{
    width: 100%;
  }